[Unit]
Description=newrelic-plugin-agent

[Service]
User=newrelic
Group=newrelic

PrivateTmp=yes
PermissionsStartOnly=true

EnvironmentFile=-/etc/sysconfig/newrelic-plugin-agent
Environment=CONFIG_FILE=/etc/newrelic/plugin-agent.yml

Type=forking
PIDFile=/var/run/newrelic/newrelic-plugin-agent.pid
ExecStart=/usr/bin/newrelic-plugin-agent -c $CONFIG_FILE
ExecStop=/bin/kill -INT $MAINPID
Restart=on-abort

RuntimeDirectory=newrelic

[Install]
WantedBy=multi-user.target
